apps/scaffold/scaffold_simple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Scaffold">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Experiment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FastaDatabase">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id"/>
                      <xs:attribute type="xs:string" name="path"/>
                      <xs:attribute type="xs:string" name="databaseAccessionRegEx"/>
                      <xs:attribute type="xs:string" name="databaseDescriptionRegEx"/>
                      <xs:attribute type="xs:string" name="decoyProteinRegEx"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="BiologicalSample">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="InputFile" maxOccurs="1500" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="database"/>
                  <xs:attribute type="xs:string" name="analyzeAsMudpit"/>
                  <xs:attribute type="xs:string" name="name"/>
                  <xs:attribute type="xs:string" name="category"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="DisplayThresholds">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:string" name="id"/>
                      <xs:attribute type="xs:float" name="proteinProbability"/>
                      <xs:attribute type="xs:byte" name="minimumPeptideCount"/>
                      <xs:attribute type="xs:float" name="peptideProbability"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Export">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type"/>
                      <xs:attribute type="xs:string" name="thresholds"/>
                      <xs:attribute type="xs:string" name="path"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="analyzeWithTandem"/>
            <xs:attribute type="xs:string" name="connectToNCBI"/>
            <xs:attribute type="xs:string" name="condenseDataWhileLoading"/>
            <xs:attribute type="xs:string" name="annotateWithGOA"/>
            <xs:attribute type="xs:string" name="unimodFile"/>
            <xs:attribute type="xs:string" name="highMassAccuracyScoring"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
